[Unit]
Description=Comb Filter Controller Service
After=network.target audio-mini-drivers.service
Requires=audio-mini-drivers.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/combFilterController --load-module
ExecStart=/usr/local/bin/combFilterController --set-delaym 1
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target